// Default CSS
html, body {
 margin: 0;
 padding: 0;
 border: 0;
}

body {
 text-align: left; 
 font-family: Arial;
 background-color: #fff;
 font-size: 14px;
 line-height: 20px;
}

.container {
 width: 600px;
 border: 1px solid red;
 padding: 10px;
 min-height: 400px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -o-border-radius: 10px;
 -webkit-border-radius: 10px;
 border: solid 1px #ccc;
 -moz-box-shadow: 0 0 10px #ccc;
 -o-box-shadow: 0 0 10px #ccc;
 -webkit-box-shadow: 0 0 10px #ccc;
 box-shadow: 0 0 10px #ccc;
 margin: 30px 10px 0 30px;
}

input {
 width: 220px;
 height: 30px;
 text-align: left;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -o-border-radius: 4px;
 -webkit-border-radius: 4px;
}

/* For Webkit browsers (Chrome, Safari) Change the placeholder style*/
input::-webkit-input-placeholder {
  font-size : 12px;
  color: #ccc;
}

/* For Mozilla Firefox Change the placeholder style*/
input:-moz-placeholder {
  font-size : 12px;
  color: #ccc;
}

select {
 background: transparent;
 width: 225px;
 padding: 5px;
 line-height: 1;
 border: 1px solid #ccc;
 border-radius: 0;
 height: 30px;
}

button {
 width: 150px;
 height: 30px;
 display: inline-block;
 padding: 5px 10px 6px;
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 line-height: 1;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
 border-bottom: 1px solid rgba(0,0,0,0.25);
 position: relative;
 cursor: pointer;
}

a {
 text-decoration: none;
}
.field-label {
 width: 225px;
 text-align: right;
 padding: 10px;
}
.field-input {
 width: 220px;
 text-align: left;
 margin-left: 20px;
 padding: 5px;
}

.left {
 float: left;
}
.right {
 float: right;
}
.middle {
 text-align: center;;
}
.clear {
 clear: both;
}
.error {
 border: 1px solid red;
}
.error-msg {
 color: red;
}
.success {
 border: 1px solid green;
}
.success-msg {
 color: green;
}
.notice {
 text-align: center;
 width: 585px;
 padding:10px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -o-border-radius: 10px;
 -webkit-border-radius: 10px;
 border: solid 1px #ccc;
 -moz-box-shadow: 0 0 10px green;
 -o-box-shadow: 0 0 10px green;
 -webkit-box-shadow: 0 0 10px green;
 box-shadow: 0 0 10px green;
}
.hidden {
 display: none;
}
.visible {
 display: block;
}

#sendmail{
  font-size: 16px;
  color: green;
}

#thankyou{
  font-size: 16px;
  color: red;
}

/* Simple Popup */
.black_overlay{
 display: none;
 position: absolute;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
 background-color: black;
 z-index:1001;
 -moz-opacity: 0.8;
 opacity:.80;
 filter: alpha(opacity=80);
}
.white_content {
 display: none;
 position: absolute;
 top: 25%;
 left: 25%;
 width: 40%;
 height: 40%;
 padding: 16px;
 background-color: white;
 z-index:1002;
 overflow: auto;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -o-border-radius: 10px;
 -webkit-border-radius: 10px;
 border: solid 1px #ccc;
 -moz-box-shadow: 0 0 20px #ccc;
 -o-box-shadow: 0 0 20px #ccc;
 -webkit-box-shadow: 0 0 20px #ccc;
 box-shadow: 0 0 20px #ccc;
}

.modal_close {
 float: right;
 position: relative;
}
